extends layout

block content
  ul
    li
      h2=counselor.name
    li
      h4 상담영역: 
      =counselor.field
    li
      h4 상담가능지역: 
      =counselor.location
    li
      h4 상담비용: 
      =counselor.price
    li
      h4 경력 및 연혁: 
      =counselor.career
    li
      h4 자기소개 및 특이사항: 
      =counselor.detail
  ul
    a(href=`/reservation/${counselor.id}`) 상담 신청하기