extend ./layout
block content
  form(action='/counselor', method='post')
    p
      |이메일: 
      input(type='email', name='email', placeholder='이메일')
    p
      |비밀번호: 
      input(type='password', name='password', placeholder='비밀번호')
    p
      |이름: 
      input(type='text', name='name', placeholder='이름')
    p
      |상담분야: 
      label
        input(type="checkbox" name="field" value="1")
        |아동 및 청소년 상담
      label
        input(type="checkbox" name="field" value="2")
        |정신건강(우울, 불안 등)
      label
        input(type="checkbox" name="field" value="3")
        |부부 및 가족 상담
    p
      |상담 가능 지역:
      label
        input(type="checkbox" name='location' value="1")
        |강남구
      label
        input(type="checkbox" name='location' value="2")
        |서초구
      label
        input(type="checkbox" name='location' value="3")
        |동작구
    p
      |상담 비용: 약
      input(type="number" name='price' min='0' max='30')
      |만 원 (추후 상담 케이스 등록 시 가격을 다르게 설정할 수 있습니다)
    p
      |경력 및 연혁: 
      textarea(name="career")
    p
      |자기소개 및 특이사항:
      textarea(name="detail")
    p
      input(type='submit')