doctype html
html
  head
    meta(charset='utf-8')
  body
    h1
      a(href='/') 라포(Rapport)
    h3
      |원하는 시간에, 원하는 곳에서, 원하는 상담사에게
    ul
      if user
        if (user.userType == 'client')
          div
            h3=user.nick+"님. 환영합니다!"
            a(href='/logout') 로그아웃
        else if (user.userType == 'counselor')
          div
            h3=user.name+" 상담사님. 환영합니다!"
            a(href=`/case/${user.id}`) 상담 오픈하기
            br
            a(href='/logout') 로그아웃
      else
        div
          |일반 사용자 로그인
          form(action='/login', method='post')
            p
              input(type='email', name='email', placeholder='이메일')
            p
              input(type='password', name='password', placeholder='비밀번호')
            p
              input(type='submit')
        div
          a(href='/join/client') 회원가입
    block content