extends layout

block content
  |상담사용 로그인
  form(action='/login/counselor', method='post')
    p
      input(type='email', name='email', placeholder='이메일')
    p
      input(type='password', name='password', placeholder='비밀번호')
    p
      input(type='submit')